*.class

# Package Files #
*.jar
*.war
*.ear

/target/glasshopper-0.1.0-SNAPSHOT/WEB-INF/appengine-generated/datastore-indexes-auto.xml
/target/glasshopper-0.1.0-SNAPSHOT/WEB-INF/appengine-web.xml
/target/glasshopper-0.1.0-SNAPSHOT/WEB-INF/logging.properties
/target/glasshopper-0.1.0-SNAPSHOT/WEB-INF/web.xml
/target/maven-archiver/pom.properties
/.idea/.name
/.idea/artifacts/glasshopper_war.xml
/.idea/artifacts/glasshopper_war_exploded.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__com_google_appengine_appengine_api_1_0_sdk_1_8_5.xml
/.idea/libraries/Maven__com_google_appengine_appengine_api_stubs_1_8_5.xml
/.idea/libraries/Maven__com_google_appengine_appengine_testing_1_8_5.xml
/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/.idea/libraries/Maven__jstl_jstl_1_2.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml

/pom.xml_
